<% provide :title, "Log in" %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag controller: "sessions", action: "create" do %>

      <%= label_tag :email %>
      <%= text_field_tag :email, nil, class: "form-control" %>

      <%= label_tag :password %>
      <%= password_field_tag :password, nil, class: "form-control" %>

      <%= label_tag :remember_me, class: "checkbox inline" do %>
        <%= check_box_tag :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

      <%= submit_tag "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>If you don't yet have a password, please <%= link_to "sign up now!", signup_path %></p>
  </div>
</div>
